@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary {
    @apply bg-primary text-white;
  }

  .primary:hover {
    @apply hover:bg-primary text-white hover:bg-opacity-90;
  }

  .secondary {
    @apply bg-secondary text-white;
  }

  .secondary:hover {
    @apply bg-secondary text-white hover:bg-opacity-90;
  }

  .textA {
    @apply text-textA;
  }

  .textA:hover {
    @apply text-textA text-opacity-80;
  }

  .textB {
    @apply text-textB;
  }

  .textB:hover {
    @apply text-textB text-opacity-80;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-feature-settings: 'lnum';
  -moz-font-feature-settings: 'lnum';
  font-feature-settings: 'lnum';
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
