@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .primary {
    @apply bg-primary text-white;
  }

  .primary:hover {
    @apply hover:bg-primary text-white hover:bg-opacity-90;
  }

  .secondary {
    @apply bg-secondary text-white;
  }

  .secondary:hover {
    @apply bg-secondary text-white hover:bg-opacity-90;
  }

  .textA {
    @apply text-textA;
  }

  .textA:hover {
    @apply text-textA text-opacity-80;
  }

  .textB {
    @apply text-textB;
  }

  .textB:hover {
    @apply text-textB text-opacity-80;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

#root,
html,
body {
  height: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
